html{
    font-size: 10px;
    background-image: url("./office-room-list-in-365office-365-reservation-dividers-for-an-partitions-rent.jpg");
  
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;            height: 100%;
   max-height: 100%;
    margin: 0;
     padding: 0;
}
#people_info{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 30px;
    
}

.p2{
    padding: 30% 20%;
}

#people_info th{
    border: 3px solid;
    background-color:silver;
    background-repeat: no-repeat;
    
   font-size: 20px;
   font-weight:bold;
   
    color:black;
    text-align: left;
    padding: 10px;
}


#people_info td{
    border: 3px solid;
    background-color:silver;
    background-repeat: no-repeat;
    
   font-size: 20px;
   font-weight:bold;
   
    color:black;
    text-align: left;
    padding: 10px;
}

#people_info tr:nth-child(even) {
    background-image: url("./tableblur.jpg");
}

.fieldborder{
    border: 3px;
    border-style: solid;
    border-color: white;
    
    background-size:100% 100%;
    background-color:rgba(0,0,0,0.3);
    -webkit-backdrop-filter: grayscale(100%);
  
}
input, select {
    width: 50%;

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 4px;
    box-sizing: border-box;
}


div {
    border-radius: 5px;
    padding: 20px;
}
.label1{
    font-size: 3rem;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:whitesmoke;
    font-weight: 600;

}
.textfieldstyle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: aliceblue;
    font-weight: 400;

}

h1{
    font-family: 'newfont';
    font-size: 10rem;
    text-align: center;
    color:rgb(8, 27, 37);
    font-weight: 400;
    margin:2rem 0;
    letter-spacing:-3px;
    box-sizing: border-box;

    
}
.button {
    
    border: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: "newfont";
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color:rgb(8, 27, 37);
     color: whitesmoke;
     font-size: 40px;
     text-decoration-style: solid;
     box-sizing: border-box;
     border-radius: 15px;
     margin:2rem;
    
     top:50%;
    
}
.button:hover {background-color: #2e030e}

.button:active {
  background-color: #3e8e41;
 
  transform: translateY(4px);
}
.textstyle{
    font-size: 12rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: tomato;
    box-sizing: border-box;

}
@font-face{
    font-family: 'newfont';
    src:url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg'); 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(8, 27, 37);
    background-size: cover;
    position: fixed;
    top: 5%;
    width: 100%;

}

li {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    display: block;
    color:whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;

}

li:active {
    background-color: #4CAF50;
    
}
li:hover {background-color: #2e030e}

/* Change the link color to #111 (black) on hover */